
.navbar-navroot {
    position: fixed !important;
    width: 100vw;
    z-index: 15 !important;
    margin-bottom: 75px;
}

.navbar-nav-root * {
    z-index: inherit;
}

.navbar-navroot-margin-fix {
    height: 65px;
}

#navbar-logo {
position: absolute;
z-index: 15;
top: 1.8vw;
left: 6.3vw;
width: 12vw;
height: 20vw;
max-width: 85px;
max-height: 125px;
}

.navbar-toolbar {
    padding: 0 15px !important;
}

.makeStyles-dropdown-4 {
    background-color: #ffffffdd;
    width: 165px !important;
    border: 3px solid;
    border-color: #3765ae !important;
}

.makeStyles-dropdown-4 * {
    color: #3765ae;
    text-align: start !important;
    font-size: larger;
}

.makeStyles-dropdown-4 > hr {
    margin: 0;
    opacity: 70%;
}

@media screen and (min-width: 699px) {

    .makeStyles-dropdown-4 > a,
    .makeStyles-dropdown-4 > hr
    {
        display: none;
    }

    button[aria-label='menu']{
        display: none;
    }

}

@media screen and (max-width: 700px) {

    .navbar-toolbar > a {
        display: none;
    }

    .makeStyles-dropdown-4 > a,
    .makeStyles-dropdown-4 > hr
    {
        display: block;
        width: 100%;
    }
}