.main {
  width: 90%;
  margin: auto;
  padding-top: 2vw;
  text-align: center;
}

h2.main-title {
  color: #3765ae;
  font-size: 27pt;
  margin: 15px auto;
}

h3.sub-title {
  color: #3765ae;
  font-size: 18pt;
  margin: 18px auto;
  display: block;
  width: 280px;
}


table {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;

  font-family: Arial, Helvetica, sans-serif !important;
  border-collapse: collapse;
  padding: 8px;

  border-radius: 15px;
  overflow: hidden;
  /* border: 3px solid #3765ae; */
}

thead {
  background-color: #3765ae;
  color: white;
  font-size: calc(5pt + 1vw);
  font-weight: bold;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
}

tbody {
  font-size: calc(4pt + 1vw);
  font-weight: normal;
}

tbody tr:nth-child(odd) {
  background-color: #d3effb;
}

tbody tr:hover {
  background-color: #00a0d9;
  color: white;
}

th {
  padding: 10px 15px;
}

td {
  padding: 5px;
}

table input {
  width: 95%;
  min-width: 100px;
}

table .button {
  width: 25px;
  height:25px;
}

table .button * {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
}

.button {
  cursor: pointer;
  margin: auto 5px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  width: fit-content;
}

.button p
{
  display: inline-block;
  position: relative;
  top: -8px;
  margin: 0 12px;
}

table .update {
  fill: rgb(228 132 0);
}

table .delete {
  fill: red;
  transform: scale(0.8);
}

.add-button {
  color: green;
}

.add-button svg {
  height: 30px;
  width: 30px;
  margin: 0 5px;
  fill: green;
}

.back-button {
  display: inline-block;
  text-align: start;
  margin: 18px 15px 0;
  width: 28px;
  float: right;
  color: red;
  /* font-weight: bold;
  border-radius: 10px;
  border: 2px solid red;
  padding: 2px;
  box-sizing: border-box; */
}

hr.back-button-hr {
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #ccc;
  margin: 1em 0; 
  padding: 0;
}

form {
  padding: 0 5px 5px;
  border-radius: 10px;
  border: 3px #3765ae solid;
  margin-bottom: 15px;
  margin-top: 27px;
}


.add-button,
.back-button,
.edit-button {
  padding: 0;
  /* width: 30px;
  height: 30px; */
  text-align: start;
}

.add-button, .edit-button {
  /* float: right; */
  margin: 5px;
}

.edit-button {
  color: orangered; 
}

.edit-button-disable {
  color: grey;
}

.edit-button-disable svg {
  fill: grey !important;
}

.back-button svg {
  fill: red;
  transform: scale(-1, 1);
}

.edit-button svg {
  fill: orangered;
}

.addPat-add-card {
  display: inline-block;
  margin: 5px 15px;
  padding: 10px 8px;
  border: 2px solid #00aeff;
  border-radius: 10px 0 10px 0;
  border-bottom: 3px #3765ae solid;
  border-right: 3px #3765ae solid;
  color: #3765ae;
  width: 290px;
  height: 70px;
  font-size: 14pt;
  font-weight: bold;
}

.addPat-add-card > * {
  margin: 10px auto;
  width: 125px;
  height: 27px;
  line-height: 100%;
}

.addPat-add-card.sex > * {
  width: 78px;
}

.addPat-add-card * {
  display: inline-block;
}

.addbtn,
.edtbtn {
  margin-top: 40px;
  height: 60px;
  width: 150px;
  border-radius: 10px;
  background-color: #3765ae;
  border: 3px #3765ae solid;
  font-weight: bold;
  font-size: 20pt;
  padding: 10px;
  color: white;
  margin-bottom: 40px;
}

.edtbtn {
  background-color: #af6d16;
  border: 3px #a76510 solid;

}

@media screen and (max-width: 400) {
  .main{
    padding: 0;
    margin: auto;
    width: 99vw !important;
  }

  .addPat-add-card {
    margin: 5px 0;
  }
}

.table-search-input {
  margin: 15px auto;
  display: block;
  text-align: center;
}
